.sidebar {
    width: 20%;
}
.sidebar__list {
    padding: 0;
    list-style: none;
    .sidebar__item {
        a {
            padding: 1rem;
            display: inline-block;
            width: 100%;
        }
        .sidebar__item--logout {
            color: #da7f7f;
            border: 1px solid #da7f7f;
            border-radius: 50px;
            text-align: center;
            max-width: 84px;
            padding: 0.25rem;
            margin: 1rem;
            @include transition(.3s);
            &:hover{
                background: lighten(#da7f7f,10%);
                color: #fff;
                
            }
        }
    }
}
